"""ORM model."""

from typing import Optional

from sqlalchemy import ForeignKey
from sqlalchemy.orm import Mapped, mapped_column, relationship

from freesearch.database.base import Base


{{ "\n\n".join(classes) }}
